html {
	--background-color: rgb(255, 255, 255);
	--text-color: rgb(128, 0, 255);
	--accent-color: rgb(27, 69, 143);
}
body {
	background: var(--background-color);
	color: var(--text-color);
}

header {
	border-bottom: 1px solid var(--accent-color);
}

article {
	margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--accent-color);
}

a {
	color: var(--accent-color);
}

.flex {
	display: flex;
    flex-grow: 1;
    justify-content: space-between;
}